body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    color: #333;
}

ul, ol {
    padding-left: 20px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
}
